
.wrap {
    height: 108px;
    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
    }
}

.container {
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.textarea {
    margin: 16px 24px 0px 16px;
    border: 1px solid rgba(161, 159, 157, 1);
    border-radius: 4px;
    padding: .5em;
    color: rgba(161, 159, 157, 1);
    outline: none;
    max-height: 4.5em;
    overflow-y: auto;
}


.iconsWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    img {
        height: auto;
        width: 20px;
        margin: 16px;
        cursor: pointer;
    }

   
}
