
.wrap {
    width: calc(100vw - 320px);
    border-left: 1px solid rgba(32, 31, 30, 0.12);    
}

.header {
    padding: 20px 16px;    
    h2 {
        
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }
}

.dialogsFlex {
    display: flex;
    flex-direction: column-reverse;
    
}



