
* {
  margin: 0;
  padding: 0;
  transition: all 300ms;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #201F1E;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: 'Lato', sans-serif;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}